// Sign In Ins

.send_ins{
    color: #3b3b3b;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      text-decoration: none;
      text-align: center;
      text-shadow: none;
      padding: 5px 15px;
      cursor: pointer;
      margin: 3px 1px 3px 3px;
      box-sizing: content-box;
      border: 1px solid gainsboro;
      border-radius: 20px;
      background: #ededed;
     
  }